<h1>Listing schools</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Website</th>
  </tr>

  <% @schools.where(:active => true).each do |school| %>
    <tr style="color:<%= school.text_colour %>">
      <td bgcolor="<%= school.primary_colour %>"><%= school.name %></td>
      <td bgcolor="<%= school.secondary_colour %>"><%= school.country %></td>
      <td bgcolor="<%= school.primary_colour %>"><%= school.website %></td>
    </tr>
  <% end %>
</table>