<h1>List of schools</h1>

<%= link_to 'Add school', new_school_path %>

<%= form_tag(schools_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search Schools' %>
    <%= submit_tag 'search', :name => nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Website</th>
    </tr>
  </thead>

  <% @schools.each do |school| %>
    <tr style="color:<%= school.text_colour%>">
      <td bgcolor="<%= school.primary_colour %>">
        <%= link_to school.name, school,
                    {:style=>'color:' + school.text_colour + '; text-decoration:none'} %>
      </td>
      <td bgcolor="<%= school.secondary_colour %>"><%= school.country %></td>
      <td bgcolor="<%= school.primary_colour %>"><%= school.website %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @schools %>