<% provide(:title, 'Schools') %>
<h1>List of schools</h1>

<%= link_to 'Add school', new_school_path %>


    <%= form_tag(schools_path, :method => 'get') do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search Schools', class: 'form-control' %>

      <%= submit_tag 'search', :name => nil, class: 'btn btn-primary' %>
    <% end %>


<%= will_paginate @schools %>

<ul class="schools">
  <%= render @schools %>
</ul>

<%= will_paginate @schools %>