<h1>List of schools</h1>

<%= link_to 'Add school', controller: 'schools', action: 'new' %>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Website</th>
  </tr>

  <% @schools.each do |school| %>
    <tr style="color:<%= school.text_colour%>">
      <td bgcolor="<%= school.primary_colour %>">
        <%= link_to school.name, school,
                    {:style=>'color:' + school.text_colour + '; text-decoration:none', :class => "css_class"} %>
      </td>
      <td bgcolor="<%= school.secondary_colour %>"><%= school.country %></td>
      <td bgcolor="<%= school.primary_colour %>"><%= school.website %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @schools %>